#title{
    background-color:#76B947;
    color:#f8f9fA;
}
body{
    font-family: "Montserrat";
}
.t1{
    color : whitesmoke;
}
h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:900;
  
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: bold;
}
p{
    color:#8f8f8f;
}
.a{
    margin-left: 35%;
    font-size: 20rem;
}
.container-fluid{
    padding : 3% 15% 7%;
}
.navbar{
    padding: 0 0 4.5rem 0;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 510;
   
}
.nav-item{
    padding :0 18px;
}
 .image{
   transform:  rotate(25deg);
   position:absolute;
   right: 30%;
   width: 60%;
} 
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .image{
        position: static;
        transform: rotate(0);
        
    }
    .title-image{
        position: static;
    }
}
.title-image{
   
   position:relative;
   
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/* Download-button */
.download-button{
    margin:5% 3% 5% 0;
}
#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    font-size: 3rem;
    color : green; 
    margin-bottom: 1rem;

}
.a:hover{
    color :green;
}
.icon:hover{
    color : #FFD93D;
}
#testimonials{
    
    text-align: center;
    background-color: #8ee451;
    color : white;
}
.carousel-item{
    padding:7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin :20px;
}
#press{
    background-color: #76B947;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    padding:20px 20px 50px;
}
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
#cta{
    background-color: #76B947;
    text-align: center;
    padding: 7% 15%;
}
.h3-text{
    color: #fff;
    
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
.download-button-2{
    margin: 5% 3% 0% 0%;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icons{
    color: black;
    margin: 20px 10px;
}
.copyright{
    margin: 2% 3% 2% 3%;   
}